OlegarioEx20/config/flightlist.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT flightlist (flight+)>

<!ELEMENT flight (passengers+)>

<!ELEMENT passengers (passenger+)>

<!ELEMENT passenger EMPTY>

<!ATTLIST flight number CDATA #REQUIRED>
<!ATTLIST flight origin (BOS | SJU | SFO | JFK | DCA | MAD) #REQUIRED>
<!ATTLIST flight dest (BOS | SJU | SFO | JFK | DCA | MAD) #REQUIRED>

<!ATTLIST passengers date CDATA #REQUIRED>

<!ATTLIST passenger name CDATA #REQUIRED>
<!ATTLIST passenger seat CDATA #REQUIRED>
